ody{
    background-color: skyblue;
    text-align: justify;
} 
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 50px;
    font-size: 20px;
}
nav{
    color: navyblue;
    background-color: oldlace; height: 50px;
}
a{
    padding-left: 10%;
    padding-bottom: 3%;

}
p{
    margin-left: 5%;
    margin-right: 5%;  
}
li{
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 2%; 
}
h1{
    margin-left: 5%;
    margin-right: 5%; 
}
footer{
    background-color: oldlace; height: 70px;
    font-style: italic;
    font-size: medium;
}
h3{
    margin-right: 3%;
}
img{
    margin-right: 5%;
    margin-left: 5%;
}